$introandemailsignupbackground: hsl(217, 28%, 15%);
$mainbackground: hsl(218, 28%, 13%);
$footerbackground: hsl(216, 53%, 9%);
$testimonialsbackground: hsl(219, 30%, 18%);


$cyaninsidecallaction: hsl(176, 68%, 64%);
$blueinsidecalltoaction: hsl(198, 60%, 50%);


$white: hsl(0, 0%, 100%);


$fontSize:14px;
$bodyFont:'Open Sans', sans-serif;
$headFont:'Raleway', sans-serif;

